[Unit]
Description=Apache Tomcat Web Application Container
After=network.target

[Service]
Type=forking

Environment=JAVA_HOME=/usr/lib/jvm/java-1.8.0-openjdk-amd64
Environment=CATALINA_PID=/media/tshak/BACKUP/tomcat/temp/tomcat.pid
Environment=CATALINA_HOME=/media/tshak/BACKUP/tomcat
Environment=CATALINA_BASE=/media/tshak/BACKUP/tomcat
Environment='CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart=/media/tshak/BACKUP/tomcat/bin/startup.sh
ExecStop=/media/tshak/BACKUP/tomcat/bin/shutdown.sh

User=tshak
Group=docker
UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target